:root {
    --color-accent: oklab(67.17699999999999% 0.03447 -0.13406);
    --color-accent-darker: oklab(48.333% 0.02681 -0.10697);
}

body {
    /* Set line height to 1.5 times the font size and use the
     OI's UI font as the website font */
    accent-color: var(--color-accent);
    font: 100%/1.5 system-ui;
    max-width: 300ch;
    margin-inline: auto;
    padding: 5ch;
}
input, textarea, select, button {
    font: inherit; /* Ensures form elements use the same font as the body */
}

/* label, input, textarea, button {
    display: block;
    width: 100%;
    box-sizing: border-box;
} */

label {
    /* margin-block: 1rem; */
    display:grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
}

form {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column: 1/-1;
    gap: 1em;
}


img, iframe {
    max-width: 100%;
}

.projects, .books {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    min-width: 15em;
    max-width: 1fr;
    gap: 1em;
}

.outro {

    margin-bottom: 10fr;
}

article {
    grid-template-rows: subgrid;
    grid-row: span 3;
}

h2{
    margin: 0
}

h1{
    font-size: 350%;
    margin-bottom: .3em;
    margin-top: 0
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    text-wrap: balance;
}

#cv {
    max-width: 50rem;
    line-height: 1.5;
    text-align: justify;
    padding: 1em;
    /* text-wrap: balance;
    display: grid;
    gap: 1em; */
}

#cvh2 {
    border-width: .1em;
    border-color: var(--color-accent-darker);
    border-style: solid;
    padding: .1em;
    margin-bottom: .5em;
    color: var(--color-accent-darker);
}

.stats {
        display: grid;
        grid-template-rows: auto 2fr;
        place-items: center center;
        padding: 1em;
        border: 2px solid oklab(67.17699999999999% 0.03447 -0.13406);
    }

.stats h2 {
        grid-row: 1;
        grid-column: 3;
        color: oklab(67.17699999999999% 0.03447 -0.13406);
        padding: .5em;
    }

.stats dt {
        grid-row: 2;
        color: oklab(67.17699999999999% 0.03447 -0.13406);
        /* font-weight: bold; */
        /* padding: 1em; */
    }

.stats dd {
        grid-row: 3;
        font-size:x-large;
        /* padding: 1em; */
    }
